{"swagger":"2.0","info":{"version":"1.0.1","title":"Foam TCR API"},"host":"map-api-direct.foam.space:443","schemes":["https"],"paths":{"/config/contracts":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"responses":{"200":{"schema":{"$ref":"#/definitions/FoamContracts"},"description":""}}}},"/config/network":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"responses":{"200":{"schema":{"$ref":"#/definitions/NetworkId"},"description":""}}}},"/transaction":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":false,"in":"query","name":"from","type":"string"},{"required":false,"in":"query","name":"emitter","type":"string"},{"format":"asc | desc","required":false,"in":"query","name":"ordering","type":"string"},{"format":"hex|base16","required":false,"in":"query","name":"fromBlock","type":"string"},{"format":"hex|base16","required":false,"in":"query","name":"toBlock","type":"string"}],"responses":{"200":{"schema":{"items":{"$ref":"#/definitions/FoamTransaction"},"type":"array"},"description":""},"400":{"description":"Invalid `toBlock` or `fromBlock` or `ordering` or `emitter` or `from`"}}}},"/challenge/ipfs/{ipfs_hash}":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"ipfs_hash","type":"string"}],"responses":{"200":{"schema":{"$ref":"#/definitions/ChallengeData"},"description":""},"404":{"description":"`ipfs_hash` not found"}}}},"/challenge/ipfs":{"post":{"tags":["foam"],"consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"schema":{"$ref":"#/definitions/ChallengeData"},"in":"body","name":"body"}],"responses":{"200":{"schema":{"$ref":"#/definitions/Data"},"description":""},"400":{"description":"Invalid `body`"}}}},"/challenge/{pollID}/doc":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"format":"hex|base16","required":true,"in":"path","name":"pollID","type":"string"}],"responses":{"200":{"schema":{"$ref":"#/definitions/Challenge"},"description":""},"404":{"description":"`pollID` not found"}}}},"/challenge/{pollID}/voters":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"format":"hex|base16","required":true,"in":"path","name":"pollID","type":"string"}],"responses":{"200":{"schema":{"$ref":"#/definitions/ChallengeVoteSummary"},"description":""},"404":{"description":"`pollID` not found"}}}},"/challenge/contract":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"format":"hex|base16","required":false,"in":"query","name":"fromBlock","type":"string"},{"format":"hex|base16","required":false,"in":"query","name":"toBlock","type":"string"},{"items":{"type":"string"},"in":"query","name":"listingHash","collectionFormat":"multi","type":"array"},{"items":{"format":"hex|base16","type":"string"},"in":"query","name":"pollID","collectionFormat":"multi","type":"array"}],"responses":{"200":{"schema":{"items":{"$ref":"#/definitions/ChallengeContractData"},"type":"array"},"description":""},"400":{"description":"Invalid `pollID` or `listingHash` or `toBlock` or `fromBlock`"}}}},"/token/transfers":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":false,"in":"query","name":"fromAddress","type":"string"},{"required":false,"in":"query","name":"toAddress","type":"string"},{"format":"hex|base16","required":false,"in":"query","name":"fromBlock","type":"string"},{"format":"hex|base16","required":false,"in":"query","name":"toBlock","type":"string"}],"responses":{"200":{"schema":{"items":{"$ref":"#/definitions/Transfer"},"type":"array"},"description":""},"400":{"description":"Invalid `toBlock` or `fromBlock` or `toAddress` or `fromAddress`"}}}},"/token/holders":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"format":"hex|base16","required":false,"in":"query","name":"atBlock","type":"string"}],"responses":{"200":{"schema":{"items":{"$ref":"#/definitions/Holder"},"type":"array"},"description":""},"400":{"description":"Invalid `atBlock`"}}}},"/poi/map":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8","application/geo+json"],"parameters":[{"format":"double","required":false,"in":"query","name":"swLng","type":"number"},{"format":"double","required":false,"in":"query","name":"swLat","type":"number"},{"format":"double","required":false,"in":"query","name":"neLng","type":"number"},{"format":"double","required":false,"in":"query","name":"neLat","type":"number"},{"required":false,"in":"query","name":"sort","type":"string","enum":["newest","oldest","most_value","least_value"]},{"format":"double","required":false,"in":"query","name":"limit","type":"number"},{"format":"double","required":false,"in":"query","name":"offset","type":"number"}],"responses":{"200":{"schema":{"items":{"$ref":"#/definitions/MapPOI"},"type":"array"},"description":""},"400":{"description":"Invalid `offset` or `limit` or `sort` or `neLat` or `neLng` or `swLat` or `swLng`"}}}},"/poi/details/{listingHash}":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"listingHash","type":"string"}],"responses":{"200":{"schema":{"$ref":"#/definitions/POI"},"description":""},"404":{"description":"`listingHash` not found"}}}},"/poi/{listingHash}":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"listingHash","type":"string"}],"responses":{"200":{"schema":{"$ref":"#/definitions/CurrentOrRemovedPOI"},"description":""},"404":{"description":"`listingHash` not found"}}}},"/poi/invalid":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"responses":{"200":{"schema":{"items":{"$ref":"#/definitions/InvalidPOI"},"type":"array"},"description":""}}}},"/poi/ipfs/{hash}":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"hash","type":"string"}],"responses":{"200":{"schema":{"$ref":"#/definitions/POIData"},"description":""},"404":{"description":"`hash` not found"}}}},"/poi/ipfs/raw/{hash}":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"hash","type":"string"}],"responses":{"200":{"schema":{"type":"string"},"description":""},"404":{"description":"`hash` not found"}}}},"/poi/ipfs":{"post":{"tags":["foam"],"consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"schema":{"$ref":"#/definitions/POIData"},"in":"body","name":"body"}],"responses":{"200":{"schema":{"$ref":"#/definitions/Data"},"description":""},"400":{"description":"Invalid `body`"}}}},"/poi/address":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"format":"double","required":false,"in":"query","name":"lng","type":"number"},{"format":"double","required":false,"in":"query","name":"lat","type":"number"}],"responses":{"200":{"schema":{"$ref":"#/definitions/POIAddress"},"description":""},"400":{"description":"Invalid `lat` or `lng`"}}}},"/poi/filtered":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":false,"in":"query","name":"creator","type":"string"},{"required":false,"in":"query","name":"challenger","type":"string"},{"required":false,"in":"query","name":"voter","type":"string"},{"items":{"type":"string","enum":["application","listing","challenged","removed"]},"in":"query","name":"status","collectionFormat":"multi","type":"array"},{"required":false,"in":"query","name":"sort","type":"string","enum":["newest","oldest","most_value","least_value"]},{"format":"double","required":false,"in":"query","name":"swLng","type":"number"},{"format":"double","required":false,"in":"query","name":"swLat","type":"number"},{"format":"double","required":false,"in":"query","name":"neLng","type":"number"},{"format":"double","required":false,"in":"query","name":"neLat","type":"number"},{"format":"double","required":false,"in":"query","name":"limit","type":"number"},{"format":"double","required":false,"in":"query","name":"offset","type":"number"}],"responses":{"200":{"schema":{"items":{"$ref":"#/definitions/POISearchResult"},"type":"array"},"description":""},"400":{"description":"Invalid `offset` or `limit` or `neLat` or `neLng` or `swLat` or `swLng` or `sort` or `status` or `voter` or `challenger` or `creator`"}}}},"/poi/removed/details/{listingHash}":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"listingHash","type":"string"}],"responses":{"200":{"schema":{"$ref":"#/definitions/RemovedPOI"},"description":""},"404":{"description":"`listingHash` not found"}}}},"/poi/listing":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"items":{"type":"string","enum":["MApplication","MListing","MRemoved"]},"in":"query","name":"status","collectionFormat":"multi","type":"array"},{"format":"hex|base16","required":false,"in":"query","name":"fromBlock","type":"string"},{"format":"hex|base16","required":false,"in":"query","name":"toBlock","type":"string"}],"responses":{"200":{"schema":{"items":{"$ref":"#/definitions/ListingContractData"},"type":"array"},"description":""},"400":{"description":"Invalid `toBlock` or `fromBlock` or `status`"}}}},"/signal/details/{cstHash}":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"cstHash","type":"string"}],"responses":{"200":{"schema":{"$ref":"#/definitions/SignalSearchResult"},"description":""},"404":{"description":"`cstHash` not found"}}}},"/signal/map":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8","application/geo+json"],"parameters":[{"format":"double","required":false,"in":"query","name":"swLng","type":"number"},{"format":"double","required":false,"in":"query","name":"swLat","type":"number"},{"format":"double","required":false,"in":"query","name":"neLng","type":"number"},{"format":"double","required":false,"in":"query","name":"neLat","type":"number"},{"format":"hex|base16","required":false,"in":"query","name":"fromBlock","type":"string"},{"format":"hex|base16","required":false,"in":"query","name":"toBlock","type":"string"}],"responses":{"200":{"schema":{"items":{"$ref":"#/definitions/SignalSearchResult"},"type":"array"},"description":""},"400":{"description":"Invalid `toBlock` or `fromBlock` or `neLat` or `neLng` or `swLat` or `swLng`"}}}},"/user/{address}/assets":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"address","type":"string"}],"responses":{"200":{"schema":{"$ref":"#/definitions/UserAssets"},"description":""},"404":{"description":"`address` not found"}}}},"/user/{address}/votes/revealed":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"address","type":"string"}],"responses":{"200":{"schema":{"items":{"$ref":"#/definitions/RevealedVote"},"type":"array"},"description":""},"404":{"description":"`address` not found"}}}},"/user/{address}/votes/locked":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"address","type":"string"}],"responses":{"200":{"schema":{"items":{"$ref":"#/definitions/LockedVote"},"type":"array"},"description":""},"404":{"description":"`address` not found"}}}},"/user/{address}/votes/claimable":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"address","type":"string"}],"responses":{"200":{"schema":{"items":{"$ref":"#/definitions/ClaimableVote"},"type":"array"},"description":""},"404":{"description":"`address` not found"}}}},"/search/poi":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"format":"double","required":false,"in":"query","name":"swLng","type":"number"},{"format":"double","required":false,"in":"query","name":"swLat","type":"number"},{"format":"double","required":false,"in":"query","name":"neLng","type":"number"},{"format":"double","required":false,"in":"query","name":"neLat","type":"number"},{"items":{"type":"string"},"in":"query","name":"tags","collectionFormat":"multi","type":"array"},{"required":false,"in":"query","name":"q","type":"string"}],"responses":{"200":{"schema":{"items":{"$ref":"#/definitions/POI"},"type":"array"},"description":""},"400":{"description":"Invalid `q` or `tags` or `neLat` or `neLng` or `swLat` or `swLng`"}}}},"/search/text":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"format":"double","required":false,"in":"query","name":"swLng","type":"number"},{"format":"double","required":false,"in":"query","name":"swLat","type":"number"},{"format":"double","required":false,"in":"query","name":"neLng","type":"number"},{"format":"double","required":false,"in":"query","name":"neLat","type":"number"},{"required":false,"in":"query","name":"q","type":"string"}],"responses":{"200":{"schema":{"items":{"$ref":"#/definitions/SearchTextPOI"},"type":"array"},"description":""},"400":{"description":"Invalid `q` or `neLat` or `neLng` or `swLat` or `swLng`"}}}},"/stats/global":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"responses":{"200":{"schema":{"$ref":"#/definitions/GlobalStats"},"description":""}}}}},"definitions":{"FoamContracts":{"description":"An object containing all of the Foam TCR contract addresses. It also includes the current network id to make sure to point to the right instance.","required":["networkId","foamRegistry","plcrVoting","foamToken","foamTokenController","parameterizer","signalToken"],"properties":{"networkId":{"$ref":"#/definitions/NetworkId"},"foamRegistry":{"$ref":"#/definitions/EthAddress"},"plcrVoting":{"$ref":"#/definitions/EthAddress"},"foamToken":{"$ref":"#/definitions/EthAddress"},"foamTokenController":{"$ref":"#/definitions/EthAddress"},"parameterizer":{"$ref":"#/definitions/EthAddress"},"signalToken":{"$ref":"#/definitions/EthAddress"}},"example":{"parameterizer":"0xea674fdde714fd979de3edf0f56aa9716b898ec8","signalToken":"0xea674fdde714fd979de3edf0f56aa9716b898ec8","networkId":"420123","foamToken":"0xea674fdde714fd979de3edf0f56aa9716b898ec8","foamTokenController":"0xea674fdde714fd979de3edf0f56aa9716b898ec8","foamRegistry":"0xe8f5942323ff1bfc6a0062b3b16d122d449f64e3","plcrVoting":"0xea674fdde62b979de3edf0f56aa9716b89128ec8"},"type":"object"},"NetworkId":{"description":"Current network id","example":"420123","type":"string"},"EthAddress":{"description":"An Ethereum address","example":"0x627306090abaB3A6e1400e9345bC60c78a8BEf57","format":"hex|base16","type":"string"},"FoamTransaction":{"required":["hash","blockNumber","blockHash","txOrigin"],"properties":{"hash":{"$ref":"#/definitions/HexString"},"blockNumber":{"$ref":"#/definitions/BlockNumber"},"blockHash":{"$ref":"#/definitions/HexString"},"txOrigin":{"$ref":"#/definitions/EthAddress"}},"type":"object"},"HexString":{"description":"A hexstring","example":"0xe8f5942323ff1bfc6a0062b3b16d122d449f64e3","format":"hex|base16","type":"string"},"BlockNumber":{"description":"BlockNumber is a postive integer encoded as a hexstring","example":"0xe8f5942324e3","format":"hex|base16","type":"string"},"ChallengeData":{"required":["cdReason"],"properties":{"cdReason":{"type":"string"}},"example":{"reason":"Worst POI ever?"},"type":"object"},"Data":{"description":"Data","example":"627306090abaB3A606090abaB3A6e1400e9345bC60c7","format":"text","type":"string"},"Challenge":{"description":"Object representing a challenge of a Point of Interest (POI)","required":["metaData","data","contractData"],"properties":{"metaData":{"$ref":"#/definitions/ChallengeMetaData"},"data":{"$ref":"#/definitions/ChallengeData"},"contractData":{"$ref":"#/definitions/ChallengeContractData"}},"type":"object"},"ChallengeMetaData":{"description":"Meta data of challenging a Point of Interest (POI)","required":["type","hash","listingHash","pollID","eid","owner"],"properties":{"type":{"type":"string"},"hash":{"type":"string"},"listingHash":{"$ref":"#/definitions/ListingHash"},"pollID":{"$ref":"#/definitions/PollID"},"eid":{"$ref":"#/definitions/EID"},"owner":{"$ref":"#/definitions/EthAddress"}},"type":"object"},"ListingHash":{"description":"A ListingHash","example":"0x627306090abaB3A6e1400e9345bC60c78a8BEf57627306090abaB3A6e1400e9345bC60c7","format":"hex|base16","type":"string"},"PollID":{"description":"An integer represented as a string in hexadecimal","example":"0xe8f5942324e3","format":"hex|base16","type":"string"},"EID":{"description":"A hexstring","example":"0xe8f5942323ff1bfc6a0062b3b16d122d449f64e3","format":"hex|base16","type":"string"},"ChallengeContractData":{"description":"Contract data of a challenge","required":["commitEnd","createdAt","revealEnd","rewardPool","deposit","result","voteQuorum","pollID"],"properties":{"commitEnd":{"$ref":"#/definitions/TimeStamp"},"createdAt":{"$ref":"#/definitions/TimeStamp"},"revealEnd":{"$ref":"#/definitions/TimeStamp"},"rewardPool":{"$ref":"#/definitions/Value"},"deposit":{"$ref":"#/definitions/Value"},"result":{"$ref":"#/definitions/ChallengeStatus"},"voteQuorum":{"$ref":"#/definitions/HexInteger"},"pollID":{"$ref":"#/definitions/PollID"}},"example":{"pollID":"0x1","createdAt":"2018-01-11T00:00:00Z","rewardPool":"0x78","commitEnd":"2018-05-11T00:00:00Z","result":"pending","voteQuorum":"0x3c","deposit":"0x64","revealEnd":"2018-08-11T00:00:00Z"},"type":"object"},"TimeStamp":{"example":"2016-07-22T00:00:00Z","format":"yyyy-mm-ddThh:MM:ssZ","type":"string"},"Value":{"description":"An integer represented as a string in hexadecimal","example":"0xe8f5942324e3","format":"hex|base16","type":"string"},"ChallengeStatus":{"description":"Indicates the status of a poll, where failed means the challenge has failed, succeeded means the challenge has succeded","required":["pending","failed","succeeded"],"properties":{"pending":{"type":"string"},"failed":{"type":"string"},"succeeded":{"type":"string"}},"example":"failed","maxProperties":1,"minProperties":1,"type":"object"},"HexInteger":{"description":"An integer represented as a string in hexadecimal","example":"0xe8f5942324e3","format":"hex|base16","type":"string"},"ChallengeVoteSummary":{"description":"A list of all the votes for a given challenge as well as the status","required":["votes","projectedStatus"],"properties":{"votes":{"additionalProperties":{"$ref":"#/definitions/Vote"},"type":"object"},"projectedStatus":{"$ref":"#/definitions/ChallengeStatus"}},"type":"object"},"Vote":{"description":"a vote made on challenge","properties":{"UnRevealed":{"required":["voteValue"],"type":"object","properties":{"voteValue":{"$ref":"#/definitions/Value"}}},"Revealed":{"required":["voteValue","voteChoice"],"type":"object","properties":{"voteChoice":{"$ref":"#/definitions/VoteChoice"},"voteValue":{"$ref":"#/definitions/Value"}}}},"maxProperties":1,"minProperties":1,"type":"object"},"VoteChoice":{"description":"VoteChoice","format":"string","type":"string","enum":["ForChallenge","AgainstChallenge"]},"Transfer":{"description":"A TokenTransfer event and the corresponding transaction","required":["from","to","value","block","txHash"],"properties":{"from":{"$ref":"#/definitions/EthAddress"},"to":{"$ref":"#/definitions/EthAddress"},"value":{"$ref":"#/definitions/HexInteger"},"block":{"$ref":"#/definitions/BlockNumber"},"txHash":{"$ref":"#/definitions/HexString"}},"example":{"to":"0xea674fdde714fd979de3edf0f56aa9716b898ec8","value":"0x4d2","from":"0xe8f5942323ff1bfc6a0062b3b16d122d449f64e3","block":"0x7b","txHash":"0x4ebcf7f12252897fec5826c6f3e6e285e3eb971bcb852a954b48f61f5d55f55e"},"type":"object"},"Holder":{"description":"A FOAM token holder's balance","required":["address","balance"],"properties":{"address":{"$ref":"#/definitions/EthAddress"},"balance":{"$ref":"#/definitions/Value"}},"type":"object"},"MapPOI":{"description":"Point Of Interest (POI) to display on a map when searching","required":["name","state","geohash","listingHash","tags","owner"],"properties":{"name":{"type":"string"},"state":{"$ref":"#/definitions/POIState"},"geohash":{"$ref":"#/definitions/Geohash"},"listingHash":{"$ref":"#/definitions/ListingHash"},"tags":{"items":{"$ref":"#/definitions/POITag"},"type":"array"},"owner":{"$ref":"#/definitions/EthAddress"}},"example":{"state":{"status":{"listingSince":"2018-06-28T00:00:00Z","type":"listing"},"createdAt":"2017-06-28T00:00:00Z","deposit":"0xe8d4a51000"},"listingHash":"0x1234567890123456789012345678901234567890123456789012345678901234","owner":"0x627306090abaB3A6e1400e9345bC60c78a8BEf57","geohash":"etgfcrkj42fk","name":"My POI","tags":["Blockchain","Food"]},"type":"object"},"POIState":{"description":"State of a Point Of Interest (POI)","required":["status","deposit","createdAt"],"properties":{"status":{"$ref":"#/definitions/POIStatus"},"deposit":{"$ref":"#/definitions/Value"},"createdAt":{"$ref":"#/definitions/TimeStamp"}},"example":{"status":{"listingSince":"2018-12-11T00:00:00Z","type":"listing"},"createdAt":"2018-12-11T00:00:00Z","deposit":"0x6f"},"type":"object"},"POIStatus":{"description":"Status of a Point Of Interest (POI)","properties":{"listing":{"required":["listingSince"],"type":"object","properties":{"listingSince":{"$ref":"#/definitions/TimeStamp"}}},"challenged":{"required":["challenge","deposit","challengedAt","maturity","commitExpiration","revealExpiration","rewardPool"],"type":"object","properties":{"revealExpiration":{"$ref":"#/definitions/TimeStamp"},"rewardPool":{"$ref":"#/definitions/Value"},"challengedAt":{"$ref":"#/definitions/TimeStamp"},"commitExpiration":{"$ref":"#/definitions/TimeStamp"},"deposit":{"$ref":"#/definitions/Value"},"maturity":{"$ref":"#/definitions/ListingMaturity"},"challenge":{"$ref":"#/definitions/PollID"}}},"applied":{"required":["endDate"],"type":"object","properties":{"endDate":{"$ref":"#/definitions/TimeStamp"}}}},"maxProperties":1,"minProperties":1,"type":"object"},"ListingMaturity":{"description":"An application in the registry, not been challenged or surviving a challenge, while in application phase and blossoms into a listing.","required":["application","listing","removed"],"properties":{"application":{"type":"string"},"listing":{"type":"string"},"removed":{"type":"string"}},"example":"removed","maxProperties":1,"minProperties":1,"type":"object"},"Geohash":{"example":"lpb2b3kosmdi53dg","format":"base32","type":"string"},"POITag":{"description":"A content tag for POI","example":"Chinese Restaurant","type":"string"},"POI":{"description":"Object representing a Point of Interest (POI)","required":["meta","data","state"],"properties":{"meta":{"$ref":"#/definitions/POIMetaData"},"data":{"$ref":"#/definitions/POIData"},"state":{"$ref":"#/definitions/POIState"}},"type":"object"},"POIMetaData":{"description":"Meta data of a Point Of Interest (POI)","required":["type","hash","listingHash","eid","owner","transactionHash"],"properties":{"type":{"type":"string"},"hash":{"type":"string"},"listingHash":{"$ref":"#/definitions/ListingHash"},"eid":{"$ref":"#/definitions/EID"},"owner":{"$ref":"#/definitions/EthAddress"},"transactionHash":{"$ref":"#/definitions/HexString"}},"type":"object"},"POIData":{"required":["poiDataUUID","poiDataName","poiDataGeohash","poiDataAddress","poiDataTags","poiDataDescription","poiDataPhone","poiDataWeb"],"properties":{"poiDataUUID":{"$ref":"#/definitions/UUID"},"poiDataName":{"type":"string"},"poiDataGeohash":{"$ref":"#/definitions/Geohash"},"poiDataAddress":{"$ref":"#/definitions/POIAddress"},"poiDataTags":{"items":{"$ref":"#/definitions/POITag"},"type":"array"},"poiDataDescription":{"type":"string"},"poiDataPhone":{"$ref":"#/definitions/POIPhone"},"poiDataWeb":{"$ref":"#/definitions/POIWeb"}},"example":{"phone":"(123) 456-7890","uUID":"00000400-0000-0800-0000-100000002000","address":"address","geohash":"etgfcrkj42fk","name":"SamplePOI","web":"https://maps.bing.com","description":"description","tags":["Health"]},"type":"object"},"UUID":{"example":"00000000-0000-0000-0000-000000000000","format":"uuid","type":"string"},"POIAddress":{"description":"Street address of POI","example":"123 fake street","type":"string"},"POIPhone":{"description":"Phone number of a Point of Interest (POI)","example":"00-1234567-89","type":"string"},"POIWeb":{"description":"URL of a Point of Interest (POI)","example":"https://map.foam.space","type":"string"},"CurrentOrRemovedPOI":{"description":"A current or removed poi","properties":{"Current":{"$ref":"#/definitions/POI"},"Removed":{"$ref":"#/definitions/RemovedPOI"}},"maxProperties":1,"minProperties":1,"type":"object"},"RemovedPOI":{"description":"Removed POI is a POI that was defeated in a challenge.","required":["doc","state"],"properties":{"doc":{"$ref":"#/definitions/POIDoc"},"challenge":{"$ref":"#/definitions/Challenge"},"state":{"$ref":"#/definitions/RemovedPOIState"}},"type":"object"},"POIDoc":{"description":"Document data of a Point Of Interest (POI)","required":["meta","data"],"properties":{"meta":{"$ref":"#/definitions/POIMetaData"},"data":{"$ref":"#/definitions/POIData"}},"type":"object"},"RemovedPOIState":{"description":"State object for Removed POI.","required":["createdAt","removedAt"],"properties":{"createdAt":{"$ref":"#/definitions/TimeStamp"},"removedAt":{"$ref":"#/definitions/TimeStamp"}},"type":"object"},"InvalidPOI":{"description":"Object representing an invalid Point of Interest (POI)","required":["listingHash","state"],"properties":{"listingHash":{"$ref":"#/definitions/ListingHash"},"state":{"$ref":"#/definitions/POIState"}},"type":"object"},"POISearchResult":{"description":"Point Of Interest (POI) to display on a map when searching","required":["name","geohash","listingHash","owner","tags"],"properties":{"name":{"type":"string"},"state":{"$ref":"#/definitions/POIState"},"geohash":{"$ref":"#/definitions/Geohash"},"listingHash":{"$ref":"#/definitions/ListingHash"},"owner":{"$ref":"#/definitions/EthAddress"},"tags":{"items":{"$ref":"#/definitions/POITag"},"type":"array"}},"example":{"state":{"status":{"listingSince":"2018-06-28T00:00:00Z","type":"listing"},"createdAt":"2017-06-28T00:00:00Z","deposit":"0xe8d4a51000"},"listingHash":"0x1234567890123456789012345678901234567890123456789012345678901234","owner":"0x627306090abaB3A6e1400e9345bC60c78a8BEf57","geohash":"etgfcrkj42fk","name":"My POI","tags":[]},"type":"object"},"ListingContractData":{"description":"The smart contract representation of a Listing, including removed listings","required":["listingHash","deposit","applicationEnd","data","status","owner","createdAt"],"properties":{"listingHash":{"$ref":"#/definitions/ListingHash"},"deposit":{"$ref":"#/definitions/Value"},"applicationEnd":{"$ref":"#/definitions/TimeStamp"},"data":{"$ref":"#/definitions/Data"},"status":{"$ref":"#/definitions/ListingMaturity"},"owner":{"$ref":"#/definitions/EthAddress"},"createdAt":{"$ref":"#/definitions/TimeStamp"}},"type":"object"},"SignalSearchResult":{"description":"Signal for Proof-of-location mining","required":["cst","nftAddress","tokenId","owner","stake","geohash","radius","createdAt"],"properties":{"cst":{"$ref":"#/definitions/HexString"},"nftAddress":{"$ref":"#/definitions/EthAddress"},"tokenId":{"$ref":"#/definitions/TokenID"},"owner":{"$ref":"#/definitions/EthAddress"},"stake":{"$ref":"#/definitions/Value"},"geohash":{"$ref":"#/definitions/Geohash"},"radius":{"$ref":"#/definitions/HexInteger"},"createdAt":{"$ref":"#/definitions/TimeStamp"}},"example":{"cst":"0x0xabcdef","createdAt":"2017-06-28T00:00:00Z","radius":"0x315","stake":"0x1c8","tokenId":"0x7b","owner":"0x0xabba","geohash":"etgfcrkj42fk","nftAddress":"0x0xdeadbeef"},"type":"object"},"TokenID":{"description":"An integer represented as a string in hexadecimal","example":"0xe8f5942324e3","format":"hex|base16","type":"string"},"UserAssets":{"description":"Basic User Asset Stats","required":["verifiedPOIs","challengedPOIs","pendingPOIs","stakedInSignals","stakedInPOIs","depositedInChallenges"],"properties":{"verifiedPOIs":{"maximum":9223372036854776000,"minimum":-9223372036854776000,"type":"integer"},"challengedPOIs":{"maximum":9223372036854776000,"minimum":-9223372036854776000,"type":"integer"},"pendingPOIs":{"maximum":9223372036854776000,"minimum":-9223372036854776000,"type":"integer"},"stakedInSignals":{"$ref":"#/definitions/Value"},"stakedInPOIs":{"$ref":"#/definitions/Value"},"depositedInChallenges":{"$ref":"#/definitions/Value"}},"example":{"pendingPOIs":27,"challengedPOIs":10,"verifiedPOIs":4,"depositedInChallenges":"0x2c","stakedInPOIs":"0x63","stakedInSignals":"0x2"},"type":"object"},"RevealedVote":{"description":"Object representing a revealed vote.","required":["address","listingHash","pollID","choice","txHash","numTokens"],"properties":{"address":{"$ref":"#/definitions/EthAddress"},"listingHash":{"$ref":"#/definitions/ListingHash"},"pollID":{"$ref":"#/definitions/PollID"},"choice":{"$ref":"#/definitions/VoteChoice"},"txHash":{"$ref":"#/definitions/HexString"},"numTokens":{"$ref":"#/definitions/Value"}},"type":"object"},"LockedVote":{"description":"Object representing a locked vote.","required":["address","pollID","commitExpiration","revealExpiration","numTokens","listingHash"],"properties":{"address":{"$ref":"#/definitions/EthAddress"},"pollID":{"$ref":"#/definitions/PollID"},"commitExpiration":{"$ref":"#/definitions/TimeStamp"},"revealExpiration":{"$ref":"#/definitions/TimeStamp"},"numTokens":{"$ref":"#/definitions/Value"},"listingHash":{"$ref":"#/definitions/ListingHash"},"listingName":{"type":"string"}},"type":"object"},"ClaimableVote":{"description":"Object representing a claimable vote.","required":["listingHash","pollID","choice"],"properties":{"listingName":{"type":"string"},"listingHash":{"$ref":"#/definitions/ListingHash"},"pollID":{"$ref":"#/definitions/PollID"},"choice":{"$ref":"#/definitions/VoteChoice"},"numTokens":{"$ref":"#/definitions/Value"},"salt":{"$ref":"#/definitions/HexInteger"}},"type":"object"},"SearchTextPOI":{"description":"Result of free-text search using Mapbox API","required":["geohash","address"],"properties":{"geohash":{"$ref":"#/definitions/Geohash"},"address":{"$ref":"#/definitions/POIAddress"}},"example":{"address":"my place","geohash":"lpb2b3kosmdi53dg"},"type":"object"},"GlobalStats":{"description":"Summary of FOAM POIs and Signals","required":["pendingPOIs","verifiedPOIs","challengedPOIs","removedPOIs","signals"],"properties":{"pendingPOIs":{"maximum":9223372036854776000,"minimum":-9223372036854776000,"type":"integer"},"verifiedPOIs":{"maximum":9223372036854776000,"minimum":-9223372036854776000,"type":"integer"},"challengedPOIs":{"maximum":9223372036854776000,"minimum":-9223372036854776000,"type":"integer"},"removedPOIs":{"maximum":9223372036854776000,"minimum":-9223372036854776000,"type":"integer"},"signals":{"maximum":9223372036854776000,"minimum":-9223372036854776000,"type":"integer"}},"type":"object"}},"tags":[{"name":"foam"}]}