{"swagger":"2.0","info":{"version":"0.1.0","title":"Foam TCR API"},"host":"map-api-direct.foam.space:443","schemes":["https"],"paths":{"/config/contracts":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"responses":{"200":{"schema":{"$ref":"#/definitions/FoamContracts"},"description":""}}}},"/config/network":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"responses":{"200":{"schema":{"$ref":"#/definitions/NetworkId"},"description":""}}}},"/transaction":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"format":"double","required":false,"in":"query","name":"limit","type":"number"},{"format":"double","required":false,"in":"query","name":"offset","type":"number"}],"responses":{"400":{"description":"Invalid `offset` or `limit`"},"200":{"schema":{"items":{"$ref":"#/definitions/FoamTransaction"},"type":"array"},"description":""}}}},"/challenge/ipfs/{ipfs_hash}":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"ipfs_hash","type":"string"}],"responses":{"404":{"description":"`ipfs_hash` not found"},"200":{"schema":{"$ref":"#/definitions/ChallengeData"},"description":""}}}},"/challenge/ipfs":{"post":{"tags":["foam"],"consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"schema":{"$ref":"#/definitions/ChallengeData"},"in":"body","name":"body"}],"responses":{"400":{"description":"Invalid `body`"},"200":{"schema":{"$ref":"#/definitions/Data"},"description":""}}}},"/challenge/{pollID}/doc":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"format":"hex|base16","required":true,"in":"path","name":"pollID","type":"string"}],"responses":{"404":{"description":"`pollID` not found"},"200":{"schema":{"$ref":"#/definitions/Challenge"},"description":""}}}},"/token/transfers":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":false,"in":"query","name":"fromAddress","type":"string"},{"required":false,"in":"query","name":"toAddress","type":"string"},{"format":"hex|base16","required":false,"in":"query","name":"fromBlock","type":"string"},{"format":"hex|base16","required":false,"in":"query","name":"toBlock","type":"string"}],"responses":{"400":{"description":"Invalid `toBlock` or `fromBlock` or `toAddress` or `fromAddress`"},"200":{"schema":{"items":{"$ref":"#/definitions/Transfer"},"type":"array"},"description":""}}}},"/poi/map":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"format":"double","required":false,"in":"query","name":"swLng","type":"number"},{"format":"double","required":false,"in":"query","name":"swLat","type":"number"},{"format":"double","required":false,"in":"query","name":"neLng","type":"number"},{"format":"double","required":false,"in":"query","name":"neLat","type":"number"}],"responses":{"400":{"description":"Invalid `neLat` or `neLng` or `swLat` or `swLng`"},"200":{"schema":{"items":{"$ref":"#/definitions/MapPOI"},"type":"array"},"description":""}}}},"/poi/details/{listingHash}":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"listingHash","type":"string"}],"responses":{"404":{"description":"`listingHash` not found"},"200":{"schema":{"$ref":"#/definitions/POI"},"description":""}}}},"/poi/invalid":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"responses":{"200":{"schema":{"items":{"$ref":"#/definitions/InvalidPOI"},"type":"array"},"description":""}}}},"/poi/ipfs/{hash}":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"hash","type":"string"}],"responses":{"404":{"description":"`hash` not found"},"200":{"schema":{"$ref":"#/definitions/POIData"},"description":""}}}},"/poi/ipfs/raw/{hash}":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"hash","type":"string"}],"responses":{"404":{"description":"`hash` not found"},"200":{"schema":{"type":"string"},"description":""}}}},"/poi/ipfs":{"post":{"tags":["foam"],"consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"schema":{"$ref":"#/definitions/POIData"},"in":"body","name":"body"}],"responses":{"400":{"description":"Invalid `body`"},"200":{"schema":{"$ref":"#/definitions/Data"},"description":""}}}},"/poi/address":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"format":"double","required":false,"in":"query","name":"lng","type":"number"},{"format":"double","required":false,"in":"query","name":"lat","type":"number"}],"responses":{"400":{"description":"Invalid `lat` or `lng`"},"200":{"schema":{"$ref":"#/definitions/POIAddress"},"description":""}}}},"/poi/filtered":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":false,"in":"query","name":"creator","type":"string"},{"required":false,"in":"query","name":"challenger","type":"string"},{"required":false,"in":"query","name":"voter","type":"string"},{"items":{"type":"string","enum":["SSApplication","SSListing","SSRemoved","SSChallenged"]},"in":"query","name":"status","collectionFormat":"multi","type":"array"},{"required":false,"in":"query","name":"sort","type":"string","enum":["MSNewestFirst","MSOldestFirst","MSMostValueFirst","MSLeastValueFirst"]},{"format":"double","required":false,"in":"query","name":"swLng","type":"number"},{"format":"double","required":false,"in":"query","name":"swLat","type":"number"},{"format":"double","required":false,"in":"query","name":"neLng","type":"number"},{"format":"double","required":false,"in":"query","name":"neLat","type":"number"},{"format":"double","required":false,"in":"query","name":"limit","type":"number"},{"format":"double","required":false,"in":"query","name":"offset","type":"number"}],"responses":{"400":{"description":"Invalid `offset` or `limit` or `neLat` or `neLng` or `swLat` or `swLng` or `sort` or `status` or `voter` or `challenger` or `creator`"},"200":{"schema":{"items":{"$ref":"#/definitions/POISearchResult"},"type":"array"},"description":""}}}},"/poi/removed/details/{listingHash}":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"listingHash","type":"string"}],"responses":{"404":{"description":"`listingHash` not found"},"200":{"schema":{"$ref":"#/definitions/RemovedPOI"},"description":""}}}},"/signal/map":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"format":"double","required":false,"in":"query","name":"swLng","type":"number"},{"format":"double","required":false,"in":"query","name":"swLat","type":"number"},{"format":"double","required":false,"in":"query","name":"neLng","type":"number"},{"format":"double","required":false,"in":"query","name":"neLat","type":"number"}],"responses":{"400":{"description":"Invalid `neLat` or `neLng` or `swLat` or `swLng`"},"200":{"schema":{"items":{"$ref":"#/definitions/SignalSearchResult"},"type":"array"},"description":""}}}},"/user/{address}/assets":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"address","type":"string"}],"responses":{"404":{"description":"`address` not found"},"200":{"schema":{"$ref":"#/definitions/UserAssets"},"description":""}}}},"/user/{address}/votes/revealed":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"address","type":"string"}],"responses":{"404":{"description":"`address` not found"},"200":{"schema":{"items":{"$ref":"#/definitions/RevealedVote"},"type":"array"},"description":""}}}},"/user/{address}/votes/locked":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"address","type":"string"}],"responses":{"404":{"description":"`address` not found"},"200":{"schema":{"items":{"$ref":"#/definitions/LockedVote"},"type":"array"},"description":""}}}},"/user/{address}/votes/claimable":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"required":true,"in":"path","name":"address","type":"string"}],"responses":{"404":{"description":"`address` not found"},"200":{"schema":{"items":{"$ref":"#/definitions/ClaimableVote"},"type":"array"},"description":""}}}},"/search/poi":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"format":"double","required":false,"in":"query","name":"swLng","type":"number"},{"format":"double","required":false,"in":"query","name":"swLat","type":"number"},{"format":"double","required":false,"in":"query","name":"neLng","type":"number"},{"format":"double","required":false,"in":"query","name":"neLat","type":"number"},{"items":{"type":"string"},"in":"query","name":"tags","collectionFormat":"multi","type":"array"},{"required":false,"in":"query","name":"q","type":"string"}],"responses":{"400":{"description":"Invalid `q` or `tags` or `neLat` or `neLng` or `swLat` or `swLng`"},"200":{"schema":{"items":{"$ref":"#/definitions/POI"},"type":"array"},"description":""}}}},"/search/text":{"get":{"tags":["foam"],"produces":["application/json;charset=utf-8"],"parameters":[{"format":"double","required":false,"in":"query","name":"swLng","type":"number"},{"format":"double","required":false,"in":"query","name":"swLat","type":"number"},{"format":"double","required":false,"in":"query","name":"neLng","type":"number"},{"format":"double","required":false,"in":"query","name":"neLat","type":"number"},{"required":false,"in":"query","name":"q","type":"string"}],"responses":{"400":{"description":"Invalid `q` or `neLat` or `neLng` or `swLat` or `swLng`"},"200":{"schema":{"items":{"$ref":"#/definitions/SearchTextPOI"},"type":"array"},"description":""}}}}},"definitions":{"FoamContracts":{"description":"An object containing all of the Foam TCR contract addresses. It also includes the current network id to make sure to point to the right instance.","required":["networkId","foamRegistry","plcrVoting","foamToken","foamTokenController","parameterizer","signalToken"],"properties":{"networkId":{"$ref":"#/definitions/NetworkId"},"foamRegistry":{"$ref":"#/definitions/EthAddress"},"plcrVoting":{"$ref":"#/definitions/EthAddress"},"foamToken":{"$ref":"#/definitions/EthAddress"},"foamTokenController":{"$ref":"#/definitions/EthAddress"},"parameterizer":{"$ref":"#/definitions/EthAddress"},"signalToken":{"$ref":"#/definitions/EthAddress"}},"example":{"parameterizer":"0xea674fdde714fd979de3edf0f56aa9716b898ec8","signalToken":"0xea674fdde714fd979de3edf0f56aa9716b898ec8","networkId":"420123","foamToken":"0xea674fdde714fd979de3edf0f56aa9716b898ec8","foamTokenController":"0xea674fdde714fd979de3edf0f56aa9716b898ec8","foamRegistry":"0xe8f5942323ff1bfc6a0062b3b16d122d449f64e3","plcrVoting":"0xea674fdde62b979de3edf0f56aa9716b89128ec8"},"type":"object"},"NetworkId":{"description":"Current network id","example":"420123","type":"string"},"EthAddress":{"description":"An Ethereum address","example":"0x627306090abaB3A6e1400e9345bC60c78a8BEf57","format":"hex|base16","type":"string"},"FoamTransaction":{"required":["hash","blockNumber","blockHash"],"properties":{"hash":{"$ref":"#/definitions/HexString"},"blockNumber":{"$ref":"#/definitions/BlockNumber"},"blockHash":{"$ref":"#/definitions/HexString"}},"type":"object"},"HexString":{"description":"A hexstring","example":"0xe8f5942323ff1bfc6a0062b3b16d122d449f64e3","format":"hex|base16","type":"string"},"BlockNumber":{"description":"BlockNumber is a postive integer encoded as a hexstring","example":"0xe8f5942324e3","format":"hex|base16","type":"string"},"ChallengeData":{"required":["cdReason"],"properties":{"cdReason":{"type":"string"}},"example":{"reason":"Worst POI ever?"},"type":"object"},"Data":{"description":"Data","example":"627306090abaB3A606090abaB3A6e1400e9345bC60c7","format":"text","type":"string"},"Challenge":{"description":"Object representing a challenge of a Point of Interest (POI)","required":["metaData","data"],"properties":{"metaData":{"$ref":"#/definitions/ChallengeMetaData"},"data":{"$ref":"#/definitions/ChallengeData"}},"type":"object"},"ChallengeMetaData":{"description":"Meta data of challenging a Point of Interest (POI)","required":["type","hash","listingHash","pollID","eid","owner"],"properties":{"type":{"type":"string"},"hash":{"type":"string"},"listingHash":{"$ref":"#/definitions/ListingHash"},"pollID":{"$ref":"#/definitions/PollID"},"eid":{"$ref":"#/definitions/EID"},"owner":{"$ref":"#/definitions/EthAddress"}},"type":"object"},"ListingHash":{"description":"A ListingHash","example":"0x627306090abaB3A6e1400e9345bC60c78a8BEf57627306090abaB3A6e1400e9345bC60c7","format":"hex|base16","type":"string"},"PollID":{"description":"An integer represented as a string in hexadecimal","example":"0xe8f5942324e3","format":"hex|base16","type":"string"},"EID":{"description":"A hexstring","example":"0xe8f5942323ff1bfc6a0062b3b16d122d449f64e3","format":"hex|base16","type":"string"},"Transfer":{"description":"A TokenTransfer event and the corresponding transaction","required":["from","to","value","block","txHash"],"properties":{"from":{"$ref":"#/definitions/EthAddress"},"to":{"$ref":"#/definitions/EthAddress"},"value":{"$ref":"#/definitions/HexInteger"},"block":{"$ref":"#/definitions/BlockNumber"},"txHash":{"$ref":"#/definitions/HexString"}},"example":{"to":"0xea674fdde714fd979de3edf0f56aa9716b898ec8","value":"0x4d2","from":"0xe8f5942323ff1bfc6a0062b3b16d122d449f64e3","block":"0x7b","txHash":"0x4ebcf7f12252897fec5826c6f3e6e285e3eb971bcb852a954b48f61f5d55f55e"},"type":"object"},"HexInteger":{"description":"An integer represented as a string in hexadecimal","example":"0xe8f5942324e3","format":"hex|base16","type":"string"},"MapPOI":{"description":"Point Of Interest (POI) to display on a map when searching","required":["name","state","geohash","listingHash","tags","owner"],"properties":{"name":{"type":"string"},"state":{"$ref":"#/definitions/POIState"},"geohash":{"$ref":"#/definitions/Geohash"},"listingHash":{"$ref":"#/definitions/ListingHash"},"tags":{"items":{"$ref":"#/definitions/POITag"},"type":"array"},"owner":{"$ref":"#/definitions/EthAddress"}},"example":{"state":{"status":{"listingSince":"2018-06-28T00:00:00Z","type":"listing"},"createdAt":"2017-06-28T00:00:00Z","deposit":"0xe8d4a51000"},"listingHash":"0x1234567890123456789012345678901234567890123456789012345678901234","owner":"0x627306090abaB3A6e1400e9345bC60c78a8BEf57","geohash":"etgfcrkj42fk","name":"My POI","tags":["Blockchain","Food"]},"type":"object"},"POIState":{"description":"Status of a Point Of Interest (POI)","required":["status","deposit","createdAt"],"properties":{"status":{"$ref":"#/definitions/POIStatus"},"deposit":{"$ref":"#/definitions/Value"},"createdAt":{"$ref":"#/definitions/TimeStamp"}},"example":{"status":{"listingSince":"2018-12-11T00:00:00Z","type":"listing"},"createdAt":"2018-12-11T00:00:00Z","deposit":"0x6f"},"type":"object"},"POIStatus":{"description":"Status of a Point Of Interest (POI)","properties":{"listing":{"required":["listingSince"],"type":"object","properties":{"listingSince":{"$ref":"#/definitions/TimeStamp"}}},"challenged":{"required":["challenge","deposit","challengedAt","maturity","commitExpiration","revealExpiration","rewardPool"],"type":"object","properties":{"revealExpiration":{"$ref":"#/definitions/TimeStamp"},"rewardPool":{"$ref":"#/definitions/Value"},"challengedAt":{"$ref":"#/definitions/TimeStamp"},"commitExpiration":{"$ref":"#/definitions/TimeStamp"},"deposit":{"$ref":"#/definitions/Value"},"maturity":{"$ref":"#/definitions/ListingMaturity"},"challenge":{"$ref":"#/definitions/PollID"}}},"applied":{"required":["endDate"],"type":"object","properties":{"endDate":{"$ref":"#/definitions/TimeStamp"}}}},"maxProperties":1,"minProperties":1,"type":"object"},"TimeStamp":{"example":"2016-07-22T00:00:00Z","format":"yyyy-mm-ddThh:MM:ssZ","type":"string"},"Value":{"description":"An integer represented as a string in hexadecimal","example":"0xe8f5942324e3","format":"hex|base16","type":"string"},"ListingMaturity":{"description":"An application in the registry, not been challenged or surviving a challenge, while in application phase and blossoms into a listing.","properties":{"application":{"items":[],"type":"array"},"listing":{"items":[],"type":"array"},"removed":{"items":[],"type":"array"}},"example":"removed","maxProperties":1,"minProperties":1,"type":"object"},"Geohash":{"example":"lpb2b3kosmdi53dg","format":"base32","type":"string"},"POITag":{"description":"A content tag for POI","example":"Chinese Restaurant","type":"string"},"POI":{"description":"Object representing a Point of Interest (POI)","required":["meta","data","state"],"properties":{"meta":{"$ref":"#/definitions/POIMetaData"},"data":{"$ref":"#/definitions/POIData"},"state":{"$ref":"#/definitions/POIState"}},"type":"object"},"POIMetaData":{"description":"Meta data of a Point Of Interest (POI)","required":["type","hash","listingHash","eid","owner","transactionHash"],"properties":{"type":{"type":"string"},"hash":{"type":"string"},"listingHash":{"$ref":"#/definitions/ListingHash"},"eid":{"$ref":"#/definitions/EID"},"owner":{"$ref":"#/definitions/EthAddress"},"transactionHash":{"$ref":"#/definitions/HexString"}},"type":"object"},"POIData":{"required":["poiDataUUID","poiDataName","poiDataGeohash","poiDataAddress","poiDataTags","poiDataDescription","poiDataPhone","poiDataWeb"],"properties":{"poiDataUUID":{"$ref":"#/definitions/UUID"},"poiDataName":{"type":"string"},"poiDataGeohash":{"$ref":"#/definitions/Geohash"},"poiDataAddress":{"$ref":"#/definitions/POIAddress"},"poiDataTags":{"items":{"$ref":"#/definitions/POITag"},"type":"array"},"poiDataDescription":{"type":"string"},"poiDataPhone":{"$ref":"#/definitions/POIPhone"},"poiDataWeb":{"$ref":"#/definitions/POIWeb"}},"example":{"phone":"(123) 456-7890","uUID":"00000400-0000-0800-0000-100000002000","address":"address","geohash":"etgfcrkj42fk","name":"SamplePOI","web":"https://maps.bing.com","description":"description","tags":["Health"]},"type":"object"},"UUID":{"example":"00000000-0000-0000-0000-000000000000","format":"uuid","type":"string"},"POIAddress":{"description":"Street address of POI","example":"123 fake street","type":"string"},"POIPhone":{"description":"Phone number of a Point of Interest (POI)","example":"00-1234567-89","type":"string"},"POIWeb":{"description":"URL of a Point of Interest (POI)","example":"https://map.foam.space","type":"string"},"InvalidPOI":{"description":"Object representing an invalid Point of Interest (POI)","required":["listingHash","state"],"properties":{"listingHash":{"$ref":"#/definitions/ListingHash"},"state":{"$ref":"#/definitions/POIState"}},"type":"object"},"POISearchResult":{"description":"Point Of Interest (POI) to display on a map when searching","required":["name","geohash","listingHash","owner","tags"],"properties":{"name":{"type":"string"},"state":{"$ref":"#/definitions/POIState"},"geohash":{"$ref":"#/definitions/Geohash"},"listingHash":{"$ref":"#/definitions/ListingHash"},"owner":{"$ref":"#/definitions/EthAddress"},"tags":{"items":{"$ref":"#/definitions/POITag"},"type":"array"}},"example":{"state":{"status":{"listingSince":"2018-06-28T00:00:00Z","type":"listing"},"createdAt":"2017-06-28T00:00:00Z","deposit":"0xe8d4a51000"},"listingHash":"0x1234567890123456789012345678901234567890123456789012345678901234","owner":"0x627306090abaB3A6e1400e9345bC60c78a8BEf57","geohash":"etgfcrkj42fk","name":"My POI","tags":[]},"type":"object"},"RemovedPOI":{"description":"Removed POI is a POI that was defeated in a challenge.","required":["doc","state"],"properties":{"doc":{"$ref":"#/definitions/POIDoc"},"challenge":{"$ref":"#/definitions/Challenge"},"state":{"$ref":"#/definitions/RemovedPOIState"}},"type":"object"},"POIDoc":{"description":"Document data of a Point Of Interest (POI)","required":["meta","data"],"properties":{"meta":{"$ref":"#/definitions/POIMetaData"},"data":{"$ref":"#/definitions/POIData"}},"type":"object"},"RemovedPOIState":{"description":"State object for Removed POI.","required":["createdAt","removedAt"],"properties":{"createdAt":{"$ref":"#/definitions/TimeStamp"},"removedAt":{"$ref":"#/definitions/TimeStamp"}},"type":"object"},"SignalSearchResult":{"description":"Signal for Proof-of-location mining","required":["cst","nftAddress","tokenId","owner","stake","geohash","radius","createdAt"],"properties":{"cst":{"$ref":"#/definitions/HexString"},"nftAddress":{"$ref":"#/definitions/EthAddress"},"tokenId":{"$ref":"#/definitions/TokenID"},"owner":{"$ref":"#/definitions/EthAddress"},"stake":{"$ref":"#/definitions/Value"},"geohash":{"$ref":"#/definitions/Geohash"},"radius":{"$ref":"#/definitions/HexInteger"},"createdAt":{"$ref":"#/definitions/TimeStamp"}},"example":{"cst":"0x0xabcdef","createdAt":"2017-06-28T00:00:00Z","radius":"0x315","stake":"0x1c8","tokenId":"0x7b","owner":"0x0xabba","geohash":"etgfcrkj42fk","nftAddress":"0x0xdeadbeef"},"type":"object"},"TokenID":{"description":"An integer represented as a string in hexadecimal","example":"0xe8f5942324e3","format":"hex|base16","type":"string"},"UserAssets":{"description":"Basic User Asset Stats","required":["verifiedPOIs","challengedPOIs","pendingPOIs"],"properties":{"verifiedPOIs":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"challengedPOIs":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"pendingPOIs":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"}},"example":{"pendingPOIs":27,"challengedPOIs":10,"verifiedPOIs":4},"type":"object"},"RevealedVote":{"description":"Object representing a revealed vote.","required":["address","listingHash","challengeID","choice","txHash","numTokens"],"properties":{"address":{"$ref":"#/definitions/EthAddress"},"listingHash":{"$ref":"#/definitions/ListingHash"},"challengeID":{"$ref":"#/definitions/PollID"},"choice":{"$ref":"#/definitions/VoteChoice"},"txHash":{"$ref":"#/definitions/HexString"},"numTokens":{"$ref":"#/definitions/Value"}},"type":"object"},"VoteChoice":{"description":"VoteChoice","format":"string","type":"string","enum":["ForChallenge","AgainstChallenge"]},"LockedVote":{"description":"Object representing a locked vote.","required":["address","challengeID","commitExpiration","revealExpiration","numTokens","listingHash"],"properties":{"address":{"$ref":"#/definitions/EthAddress"},"challengeID":{"$ref":"#/definitions/PollID"},"commitExpiration":{"$ref":"#/definitions/TimeStamp"},"revealExpiration":{"$ref":"#/definitions/TimeStamp"},"numTokens":{"$ref":"#/definitions/Value"},"listingHash":{"$ref":"#/definitions/ListingHash"},"listingName":{"type":"string"}},"type":"object"},"ClaimableVote":{"description":"Object representing a claimable vote.","required":["listingHash","challengeID","choice"],"properties":{"listingName":{"type":"string"},"listingHash":{"$ref":"#/definitions/ListingHash"},"challengeID":{"$ref":"#/definitions/PollID"},"choice":{"$ref":"#/definitions/VoteChoice"},"numTokens":{"$ref":"#/definitions/Value"},"salt":{"$ref":"#/definitions/HexInteger"}},"type":"object"},"SearchTextPOI":{"description":"Result of free-text search using Mapbox API","required":["geohash","address"],"properties":{"geohash":{"$ref":"#/definitions/Geohash"},"address":{"$ref":"#/definitions/POIAddress"}},"example":{"address":"my place","geohash":"lpb2b3kosmdi53dg"},"type":"object"}},"tags":[{"name":"foam"}]}
